.banner_bg_main {
    width: 100%;
    float: left;
    background-image: url(https://themewagon.github.io/eflyer/images/banner-bg.png);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}